#right{
    width:200px;
}
#right>div
{
  border: 1px solid #206AB5;
  border-radius: 4px;
  margin-bottom: 10px;
}

#right>div>p
{
  font-family:Cambria;
  background-color: #be1f1f;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  height: 25px;
  padding-top: 5px;
}
#right>#sachbannhieu p
{
  clear:both;
}

#right>#sachbannhieu img
{
  width: 100px;
  transition: all 0.5s ease;
  padding-left: 5px;
  float: left;
  margin-bottom: 5px;
}
#right>#sachbannhieu img:hover{
  transform: scale(1.0);
}
#right>#sachbannhieu a
{
  text-decoration: none;
  font-size: 9pt;
  font-family: Arial;
  color: #456c26;
  height: 70px;
}

#right>#sachbannhieu a:hover
{
    color:#be1f1f;
}

#right>#lienketwebsite select
{
  margin: 10px;
  width: 170px;
  height: 30px;
  border-radius: 3px;
  border: #808080 solid 3px;
  text-align: center;
} 

#right>#thongketruycap 
{
  background-color: #e5e3e3;
}
#right>#thongketruycap h4
{
  margin: 10px;
  color: red;
}
#right>#thongketruycap p{
    color:white;
    text-align:center;
}
#right>#thongketruycap a{
    padding-left:35px;
    text-align:center;
}
#right>#thongketruycap a:hover{
    color:#456c26;
    font-weight:normal;
}
/*Marquee*/
.marquee {
 height: 250px;	
 overflow: hidden;
 position: relative;
}

.marquee p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: marquee 15s linear infinite;
 -webkit-animation: marquee 15s linear infinite;
 animation: marquee 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes marquee {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes marquee {
 0%   { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }
}

